* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ffffff;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  border-top: 5mm solid #ff0000;
  border-bottom: 5mm solid #ff0000;
  background: url(../img/top-image.png) no-repeat left top,
  url(../img/bottom-image.png) no-repeat left bottom;
}
/*
linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 0, 0) 20%, rgb(103, 219, 103) 80%, black),
*/

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 64px;
  box-shadow: 3px 3px 3px black;
}

article h1{
  background-image: url(../img/logo.png);
  background-size: contain;
}