h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Tilt Prism', cursive;
  font-size: 1.5em;
  font-weight: 900;
  /*background color and borders*/
  background-color: #fa752f;
  background-image: linear-gradient(0deg, #fa752f 0%, #ffe498 100%);
  /*make the image fit the page*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFDB78;
  box-shadow:
  inset 0 0 0 20px #B1693A,
  inset 0 0 0 25px #C37340,
  inset 0 0 0 30px #EB8C4D,
  inset 0 0 0 35px #F0A058,
  inset 0 0 0 40px #F5B463,
  inset 0 0 0 45px #FAC86E;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}